<app-header></app-header>

<div class="sidebar">
  <a (click)="activatePatients()" id="first-element">Пацієнти</a>
  <a (click)="activateDoctors()">Лікарі</a>
  <a (click)="activateCompanyManagers()">Менеджери</a>
  <a (click)="activateCompanies()">Компанії</a>
  <a (click)="activateMedicalDevices()">Медичні пристрої</a>
  <a (click)="activateMedicalDeviceTypes()">Типи медичних пристроїв</a>
  <a (click)="activateBloodTypes()">Типи крові</a>
  <a (click)="activateSpecializations()">Спеціалізації</a>
  <a (click)="activateAdministrators()">Адміністратори</a>
  <a (click)="activateManufacturers()">Виробники</a>
  <a (click)="activateMedicalRecords()">Медичні записи</a>
  <a (click)="activateNotifications()">Повідомлення</a>
  <a (click)="activateMeasurements()" id="last-element">Виміри</a>
</div>

<div class="content">
  <app-admin-patients *ngIf="activated.patients"></app-admin-patients>
  <app-admin-doctors *ngIf="activated.doctors"></app-admin-doctors>
  <app-admin-company-managers *ngIf="activated.companyManagers"></app-admin-company-managers>
  <app-admin-companies *ngIf="activated.companies"></app-admin-companies>
  <app-admin-medical-devices *ngIf="activated.medicalDevices"></app-admin-medical-devices>
  <app-admin-medical-device-types *ngIf="activated.medicalDeviceTypes"></app-admin-medical-device-types>
  <app-admin-blood-types *ngIf="activated.bloodTypes"></app-admin-blood-types>
  <app-admin-specializations *ngIf="activated.specializations"></app-admin-specializations>
  <app-admin-administrators *ngIf="activated.administrators"></app-admin-administrators>
  <app-admin-manufacturers *ngIf="activated.manufacturers"></app-admin-manufacturers>
  <app-admin-medical-records *ngIf="activated.medicalRecords"></app-admin-medical-records>
  <app-admin-notifications *ngIf="activated.notifications"></app-admin-notifications>
  <app-admin-measurements *ngIf="activated.measurements"></app-admin-measurements>
</div>
