<app-header></app-header>

<div class="card mb-3" *ngIf="loaded; else stillLoading">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-sm-3">
        <h6 class="mb-0">Назва компанії</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        <input type="text" class="form-control" [(ngModel)]="changes.companyName">
      </div>
    </div>
    <hr>
    <div class="row align-items-center">
      <div class="col-sm-3">
        <h6 class="mb-0">Адреса</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        <input type="text" class="form-control" [(ngModel)]="changes.address">
      </div>
    </div>
    <hr>
    <div class="row align-items-center">
      <div class="col-sm-12">
        <a (click)="saveChanges()" class="btn btn-info">Зберегти</a>
        <a (click)="getBack()" class="btn btn-info" style="margin-left: 15px;">Скасувати</a>
      </div>
    </div>
  </div>
</div>

<ng-template #stillLoading>
  Still Loading...
</ng-template>
