<div class="d-flex justify-content-between align-items-center">
  <h2>Адміністрування повідомлень</h2>
  <button [routerLink]="['/create-notification']" class="btn btn-info">Створити</button>
</div>

<div class="input-group mb-3">
  <input type="text"
         [ngModel]="search"
         (ngModelChange)="searchNotification($event)"
         class="form-control"
         placeholder="Пошук серед повідомлень за ім'ям пацієнта">
</div>

<div *ngIf="loaded; else stillLoading">
  <div class="row">
    <div class="col-12 mb-3 mb-lg-5">
      <div class="card table-nowrap table-card">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead class="small text-uppercase bg-body text-muted">
              <tr style="user-select: none;">
                <th style="cursor:pointer;" (click)="sortById()">ID</th>
                <th style="cursor:pointer;" (click)="sortByPatient()">Пацієнт</th>
                <th style="cursor:pointer;" (click)="sortBySender()">Відправник</th>
                <th style="cursor:pointer;" (click)="sortByDate()">Дата</th>
                <th class="text-end">Дія</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let notification of notificationsFilteredAndSorted" @fadeOut class="align-middle">
                <td>
                  <div class="h6 mb-0 lh-1">{{ notification.notificationId }}</div>
                </td>
                <td>{{ notification.patientFullName }}</td>
                <td>{{ notification.sender }}</td>
                <td>{{ notification.date | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                <td class="text-end">
                  <div class="drodown">
                    <a data-bs-toggle="dropdown" href="#" class="btn p-1" aria-expanded="false">
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a [routerLink]="['/put-notification', notification.notificationId]" class="dropdown-item">Редагувати</a>
                      <a style="cursor: pointer;" (click)="deleteNotification(notification.notificationId)" class="dropdown-item">Видалити</a>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #stillLoading>
  Still Loading...
</ng-template>
