<app-header></app-header>

<div class="card mb-3" *ngIf="loaded; else stillLoading">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-sm-3">
        <h6 class="mb-0">Тип пристрою</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        <select #patientId="ngModel"
                name="patientId"
                [(ngModel)]="medicalDevice.medicalDeviceTypeId"
                id="specializationSelect1"
                class="form-control"
                required>
          <option value="" disabled selected>Оберіть тип пристрою</option>
          <option *ngFor="let mdt of medicalDeviceTypes;" value="{{ mdt.medicalDeviceTypeId }}">{{ mdt.name }}</option>
        </select>
      </div>
    </div>
    <hr>
    <div class="row align-items-center">
      <div class="col-sm-3">
        <h6 class="mb-0">Виробник</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        <select #patientId="ngModel"
                name="patientId"
                [(ngModel)]="medicalDevice.manufacturerId"
                id="specializationSelect1"
                class="form-control"
                required>
          <option value="" disabled selected>Оберіть виробника</option>
          <option *ngFor="let manf of manufacturers;" value="{{ manf.manufacturerId }}">{{ manf.name }}</option>
        </select>
      </div>
    </div>
    <hr>
    <div class="row align-items-center">
      <div class="col-sm-3">
        <h6 class="mb-0">Рік виробництва</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        <input type="text" class="form-control" [(ngModel)]="medicalDevice.productionYear">
      </div>
    </div>
    <hr>
    <div class="row align-items-center">
      <div class="col-sm-12">
        <a (click)="saveChanges()" class="btn btn-info">Створити</a>
        <a (click)="getBack()" class="btn btn-info" style="margin-left: 15px;">Скасувати</a>
      </div>
    </div>
  </div>
</div>

<ng-template #stillLoading>
  Still Loading...
</ng-template>
