<app-header></app-header>
<div id="registration">

  <!-- User Type input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="userTypeSelect">Тип користувача</label>
    <select userType="ngModel"
            name="userType"
            [(ngModel)]="userType"
            id="userTypeSelect"
            class="form-control"
            required>
      <option value="" disabled selected>Оберіть тип користувача</option>
      <option value="Patient">Пацієнт</option>
      <option value="Doctor">Доктор</option>
      <option value="CompanyManager">Менеджер</option>
    </select>
  </div>

  <ng-template [ngIf]="userType == 'Patient'">
    <app-patient-register-form [createView]="createView" (onSubmitEvent)="registerPatient($event)"></app-patient-register-form>
  </ng-template>
  <ng-template [ngIf]="userType == 'Doctor'">
    <app-doctor-register-form [createView]="createView" (onSubmitEvent)="registerDoctor($event)"></app-doctor-register-form>
  </ng-template>
  <ng-template [ngIf]="userType == 'CompanyManager'">
    <app-manager-register-form [createView]="createView" (onSubmitEvent)="registerManager($event)"></app-manager-register-form>
  </ng-template>

</div>
