<app-header></app-header>

<div id="content">
  <h2>Перелік повідомлень</h2>
  <ul class="list-group">
    <li *ngFor="let notification of notifications" @fadeOut class="list-group-item">
      <h5 class="mb-1">{{ notification.title }}</h5>

      <p *ngIf="notification.senderId; else fromSystem" class="mb-1">Від: <a href="" [routerLink]="['/dprofile', notification.senderId]">{{ notification.sender }}</a></p>
      <ng-template #fromSystem>
        <p class="mb-1">Від: {{ notification.sender }}</p>
      </ng-template>

      <p class="mb-1">Зміст: {{ notification.content }}</p>
      <small>Дата: {{ notification.date | date: 'dd/MM/yyyy HH:mm:ss' }}</small>
      <button class="btn btn-danger btn-sm float-end" (click)="deleteNotification(notification.notificationId)">
        Видалити
      </button>
    </li>
  </ul>
</div>
